<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shopping Cart</title>
  </head>
  <body>
    <main>
      <app-cart-header [numberItems]="numberItems"> </app-cart-header>
      <app-cart-content [products]="products" (onRemoveProduct)="handleRemoveProduct($event)" (onInputQuantity)="handleChangeQuantity($event)"></app-cart-content>
      <app-cart-footer *ngIf="products.length>0"  [promoCode]="promoCode" [numberSubtotal]="numberSubtotal" [numberVAT]="numberVAT" [numberTotal]="numberTotal" 
      (onApplyPromoCode)="handleApplyPromoCode($event)" [numberGiamGia]="numberGiamGia"></app-cart-footer>
      <h1 style="text-align: center" *ngIf="products.length==0"> Bạn chưa chọn sản phẩm nào! </h1>
    </main>
  </body>
</html>
