<section class="container">
    <div class="promotion">
      <label for="promo-code">Have A Promo Code?</label>
      <input type="text" [(ngModel)]="promoCode" /> 
      <button type="button" (click)="applyPromoCode(promoCode)"></button>
    </div>

    <div class="summary">
      <ul>
        <li>Subtotal <span>{{numberSubtotal | currency:'VND':'symbol':'1.0-0':'vi'}}</span></li>
        <li>Tax <span>{{numberVAT | currency:'VND':'symbol':'1.0-0':'vi'}}</span></li>
        <li *ngIf="numberGiamGia < 0" >Discount <span>{{numberGiamGia | currency:'VND':'symbol':'1.0-0':'vi'}}</span></li>
        <li class="total">Total <span>{{numberTotal | currency:'VND':'symbol':'1.0-0':'vi'}}</span></li>
      </ul>
    </div>

    <div class="checkout">
      <button type="button">Check Out</button>
    </div>
  </section>